{{#employment}}
 <div class='position'>
          <h3>{{employer}}&nbsp;<small class='citystate'>{{location}}</small></h3>
          <strong>{{title}}<span class='dates pull-right'>{{date}}</span></strong>
          <ul class="circle">
          {{#description}}
            <li>{{item}}</li>
          {{/description}}
          </ul>
        </div>
{{/employment}}      
