{{#employment}}
 <div class='position'>
          <h3>{{employer}}<small class='citystate'>{{location}}</small></h3>
          <strong>{{title}}<span class='dates pull-right'>{{date}}</span></strong>
          <ul class="circle">
          {{#description}}
            <li>{{item}}</li>
          {{/description}}
          </ul>
        </div>
{{/employment}}      
        <div class='position'>
          <h3>Employer <small class='citystate'>City, State</small></h3>
          <strong>Title <span class='dates pull-right'>09/1900 - 10/2000</span></strong>
          <ul class="circle">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
          </ul>
        </div>
