<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel='stylesheet' type='text/css' href="css/custom.css"  />
</head>
<body>
 
    <div class="container">
      <div class="row" id="resume">

        {{>templates/header}}

        <div class="col-sm-8">

        <div id="summary">
          <h4>Summary</h4>
          <ol class="list-unstyled">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
          </ol>
        </div>

        <hr />

        <table id="skills">
          <tr><th>Core</th><td>Your, primary, skill, go, here, here, here</td></tr>
          <tr><th>Dabble</th><td>Things, you, aspire, to, work, on, go, here</td></tr>
          <tr><th>OS</th><td>Ubuntu, Debian, Centos, OSX</td></tr>
        </table>

        <hr />

        <div class='position'>
          <h3>Employer <small class='citystate'>City, State</small></h3>
          <strong>Title <span class='dates pull-right'>09/1900 - 10/2000</span></strong>
          <ul class="circle">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
          </ul>
        </div>
        <div class='position'>
          <h3>Employer <small class='citystate'>City, State</small></h3>
          <strong>Title <span class='dates pull-right'>09/1900 - 10/2000</span></strong>
          <ul class="circle">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
          </ul>
        </div>
        <div class='position'>
          <h3>Employer <small class='citystate'>City, State</small></h3>
          <strong>Title <span class='dates pull-right'>09/1900 - 10/2000</span></strong>
          <ul class="circle">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
          </ul>
        </div>
        <div class='position'>
          <h3>Employer <small class='citystate'>City, State</small></h3>
          <strong>Title <span class='dates pull-right'>09/1900 - 10/2000</span></strong>
          <ul class="circle">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</li>
          </ul>
        </div>

      </div>

    </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>