<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel='stylesheet' type='text/css' href="css/custom.css"  />
</head>
<body>
     <div class="container">
      <div class="row">

        {{>templates/sidebar}}  

        <div class="col-sm-8">

        {{>templates/summary}}

        <hr />

         {{>templates/education}}

         <hr />

         {{>templates/skills}}

        <hr />

         {{>templates/non_technical_skills}}

        <hr />

       {{>templates/employment_history}}

       </div>
      </div>
    </div>
    
    <div class="footer" align="center">
    <hr />
      <div class="container">
        <p class="text-muted"><a href="http://github.com/n1koo/cloju-cv">Cloju-cv @ Github</a></p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>