<table id="skills">
          <tr><th>Core</th><td>Your, primary, skill, go, here, here, here</td></tr>
          <tr><th>Dabble</th><td>Things, you, aspire, to, work, on, go, here</td></tr>
          <tr><th>OS</th><td>Ubuntu, Debian, Centos, OSX</td></tr>
</table>